input,
textarea,
select {
    display: block;
    width: 100%;
    /* height: calc(1.5em + 0.75rem + 2px); */
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    /* font-weight: 400; */
    /* line-height: 1.5; */
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.em-radio {
    label {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.em-form-cont {
    justify-content: center;
    display: flex;

    form {
        padding: 5rem;
        background: #fff;
        box-shadow: 0 2px 5px #ccc;
    }
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0666a3;
}

.error {
    font-size: 14px;
    color: red;
    padding-top: 10px;
}

.phn-cont {
    display: flex;
    padding-top: 5px;

    label {
        padding-left: 12px;
        cursor: pointer;
    }
}